{{>partials/header}}

<section class="banner" style="background-image: url('images/tela\ de\ fundo\ 4k.jpeg')">Todos os jogos e características</section>

<div class="container list">
    <div class="item">
        <img src="images/Baldur`s Gate 3.avif" class="item--image" />
        <div class="item--name">Baldur`s Gate 3.avif</div>
        <div class="item--genero">Genero: RPG Estrategia e Aventura</div>
        <div class="item--copias">Mais de 15 milhões de unidades vendidas.</div>
    </div>
<div


 {{>partials/footer}}